				<div class="rowtop">
					<label class="fl">Timestamp</label>
					<div class="iconswrap fr">
						<div><a href="#" class="update">&nbsp;</a></div>
						<div><a href="#" class="pick">&nbsp;</a></div>
						<div><a href="#" class="copy">&nbsp;</a></div>
						<div class="alt">Text large that have to say something</div>
					</div>
				</div>
				<input type="text" value="1223124123" class="timestamp" id="timestamp<%=id%>" />
				<div class="row">
					<div>
						<label>Year</label>
						<div><input id="year<%=id%>" type="text" maxlength="4" value="2014" /></div>
					</div>
					<span>/</span>
					<div>
						<label>Month</label>
						<div><input id="month<%=id%>" type="text" maxlength="2" value="1" /></div>
					</div>
					<span>/</span>
					<div>
						<label>Day</label>
						<div><input id="day<%=id%>" type="text" maxlength="2" value="27" /></div>
					</div>
					
					<span class="separatormid">&nbsp;</span>
					
					<div class="time">
						<label>Hour</label>
						<div><input id="hour<%=id%>" type="text" maxlength="2" value="24" /></div>
					</div>
					<span class="dots">:</span>
					<div class="time">
						<label>Mins.</label>
						<div><input id="min<%=id%>" type="text" maxlength="2" value="58" /></div>
					</div>
					<span class="dots">:</span>
					<div class="time">
						<label>Secs.</label>
						<div><input id="secs<%=id%>" type="text" maxlength="2" value="35" /></div>
					</div>
					<span class="dots">.</span>
					<div class="time">
						<label>Milisecs.</label>
						<div><input id="mili<%=id%>" type="text" maxlength="3" value="454" /></div>
					</div>
				</div>
				<div class="row mini">
					<div>
						<label>Weekday <input id="weekday<%=id%>" class="mini" type="text" maxlength="1" value="7" /></label>
					</div>
					<div>
						<label>Week of the year <input id="weekyear<%=id%>" class="mini" type="text" maxlength="2" value="44" /></label>
					</div>
					<div class="last">
						<label>Day of the year <input id="dayyear<%=id%>" class="mini" type="text" maxlength="3" value="365" /></label>
					</div>
				</div>
				<div class="row formated">
					<div>
						<label><span id="formatlabel<%=id%>">Monday 8th of August 2005 03:12:46 PM</span></label>
					</div>
				</div>
				<div class="row">
					<div>
						<div><input id="format<%=id%>" alt="text" type="text" value="l jS \of F Y h:i:s A" /></div>
					</div>
				</div>